:root{
    --primary-light-color: #FFF8EB;
    --primary-dark-color: #8A84AD;
    --secundary-dark-color:#38401E;
}

@font-face {
    font-family: "Fira Code";
    src: url(../fonts/FiraCode-Regular.ttf) format('truetype');
}

@font-face{
    font-family: "Lexend Zetta";
    src:url(../fonts/LexendZetta-VariableFont_wght.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Zetta';
}